///////////////////////////////////////////////
// override framework constants first
///////////////////////////////////////////////

// blueprint config
// $blueprint-grid-columns: 24;
// $blueprint-container-size: 950px;
// $blueprint-grid-margin: 10px;
// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
// $blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;


///////////////////////////////////////////////
// import frameworks
///////////////////////////////////////////////

@import "../../../bower_components/normalize-scss/_normalize.scss";


// compass ////////////////////////////////////

// default compass includes
// @import "compass";

// compass reset
// @import "compass/reset";

// @import "compass/utilities/print";

// text replacement
@import "compass/typography/text/replacement";

// clearfix -- provides clearfix, pie-clearfix, and legacy-pie-clearfix
@import "compass/utilities/general/clearfix";




// blueprint //////////////////////////////////

// @import "blueprint";
// @import "blueprint/reset";
// @import "blueprint/scaffolding";
// @import "blueprint/print";