// hide toggle button if js is not enabled
// requires js to replace 'no-js' class with 'js' on a top-level element
.no-js {
    .lws-toggle {
        display: none;
    }
}

.js {
    .lws-sharelist {
        display: none;
    }
}

.lws {
    position: relative;
}

.lws-toggle {
    display: inline;
    cursor: pointer;
}

.lws-sharelist {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    z-index: 1;

    &.lws-sharelist--open {
        display: block;
    }
}

.lws-sharelist--item {
    float: left;
    clear: left;
}