/* MAIN SITE STYLE */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    width: 80%;
    margin: 2em auto;

    color: #222;
    background: #ddd;
}

.left {
    float: left;
}
.right {
    float: right;
}