/* line 4, sass/lws.scss */
.no-js .lws-toggle {
  display: none;
}

/* line 10, sass/lws.scss */
.js .lws-sharelist {
  display: none;
}

/* line 15, sass/lws.scss */
.lws {
  position: relative;
}

/* line 19, sass/lws.scss */
.lws-toggle {
  display: inline;
  cursor: pointer;
}

/* line 24, sass/lws.scss */
.lws-sharelist {
  margin: 0;
  padding: 0;
  position: absolute;
  list-style-type: none;
  z-index: 1;
}
/* line 31, sass/lws.scss */
.lws-sharelist.lws-sharelist--open {
  display: block;
}

/* line 36, sass/lws.scss */
.lws-sharelist--item {
  float: left;
  clear: left;
}
