/* MAIN SITE STYLE */
/* line 2, sass/site.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 80%;
  margin: 2em auto;
  color: #222;
  background: #ddd;
}

/* line 12, sass/site.scss */
.left {
  float: left;
}

/* line 15, sass/site.scss */
.right {
  float: right;
}
